<div class="container">
  <footer class="footer">
    <small>
      Coppyright &copy; <a href="#">A Complete Blogger Using Ruby on Rails</a>
      by <a href="#">Qayyum Ahsan</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>